<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container-gral">
    <section class="detalle__producto--imagen">
   
    </section>
    <!-- <section class="img__miniatura">
        <div class="ingredientes"><img src="/images/Ingredientes/huevoF.png" alt=""><button type="reset" class="btn btn-reset"><i class="fa-solid fa-trash-can"></i></button>
</div>
        <div class="ingredientes"><img src="/images/Ingredientes/jamon.png" alt="">
            <button type="reset" class="btn btn-reset">
                <i class="fa-solid fa-trash-can"></i></button></div>
        <div class="ingredientes"><img src="/images/Ingredientes/lechuga.png" alt=""><button type="reset" class="btn btn-reset"><i class="fa-solid fa-trash-can"></i></button></div>
        <div class="ingredientes"><img src="/images/Ingredientes/cebolla.png" alt=""><button type="reset" class="btn btn-reset"><i class="fa-solid fa-trash-can"></i></button></div>
        <div class="ingredientes"><img src="/images/Ingredientes/panFrances.png" alt=""><button type="reset" class="btn btn-reset"><i class="fa-solid fa-trash-can"></i></button></div>
    </section> -->
    <section class="detalles__producto--compra">
        <h2><%- user.name %></h2>
        <h3><%- user.apellido %></h3>
        <h4>Elegir medio de pago</h4>
        <ul class="medios__pago">
            <li><a href=""><i class="fa-solid fa-money-bill-1"></i></a></li>
            <li><a href=""><i class="fa-solid fa-credit-card"></i></a></li>
            <li><a href=""><i class="fa-solid fa-qrcode"></i></a></li>
        </ul>
        <div class="ubicacion">
            <i class="fa-solid fa-motorcycle"></i>
            <button> cargar ubicacion</button>
        </div>
        <div class="input-container">
            <select name="unidades" class="unidades__compra">
                <option value="" hidden selected>Unidades</option>
                <option value="1">1 unidad</option>
                <option value="2">2 unidades</option>
                <option value="3">3 unidades</option>
                <option value="4">4 unidades</option>
                <option value="5">5 unidades</option>
            </select>
         </div>
        <div class="detalle__producto--descripcion">
           
        </div>
        <div class="agragarCompra">
            <button type="submit">Agregar al carrito</button>
        </div>
         <a href="/users/edit/<%= user.id %> " class="action-button edit">EDITAR</a>
		    <form action="/users/delete/<%= user.id %>?_method=DELETE"  method="POST" style="display: inline-flex">
		        <button type="submit" class="action-button delete">ELIMINAR</button>
		    </form>
    </section>
    </div>
    <section class="continuar">
        <h4>Combos similares</h4>
    </section>
    <section class="combos">
        <div><img src="/images/Ingredientes/jamon.png" alt=""></div>
        <div><img src="/images/Ingredientes/lechuga.png" alt=""></div>
        <div><img src="/images/Ingredientes/cebolla.png" alt=""></div>
    </section>
    <section class="seguirComprando">
        <button> SEGUIR COMPRANDO </button>
        
    </section>
    </main>


    <%- include('../partials/footer') %>

</body>
</html>